.header-desktop{
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header-desktop .logo-and-nav{
    display: flex;
    align-items: center;

}


.header-desktop .logo-and-nav nav{
    font-size: 1.5rem;
    margin-left: 3.75rem;
}

.header-desktop .logo-and-nav nav ul{
    display: flex;
    gap: 15px;
    color: var(--storm-gray);
    font-weight: 300;
    font-size: 14px;
    
}



.header-desktop .cart-and-avatar{
    display: flex;
    align-items: center;
    
}
.header-desktop .cart-and-avatar .cart{
    width: 30px;
    margin-right: 2.8rem;
}

@media (max-width: 900px){
    .header-desktop{
        padding: 30px 30px;
    }
    
    .header-desktop .logo-and-nav nav ul{
        gap: 10px;
    }
}

@media (max-width: 800px){
    .header-desktop{
        display: none;
    }
}