*{
    box-sizing: border-box;
}

.lightbox{
position: fixed;
top: 0;
right: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
width: 100vw;
background-color: rgba(0, 0, 0, 0.7);
}

.lightbox-content{
    width: 30vw;
    height: 80vh;
    position: relative;
}

.large-image-div{
    width: 100%;
    height: 80%;
    object-fit: cover;
    position: relative;
}




.large-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.thumbnail-images{
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 10px;
    display: flex;
    justify-content: space-between;
    height: 20%;

}

.thumbnail-images img{
    width: 23%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 	20px;
    
}

.close{
    position: absolute;
    right: 5px;
    top: -30px;
    width: 20px;
}

.div-previous{
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.previous{
   width: 12px;
   height: 18px;
   margin-left: -3px;
}

.div-next{
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.next{
    width: 12px;
   height: 18px;
   margin-right: -3px;
}

